.newsSub {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 6px;
  outline: none;
  margin: 10px;
}

.img {
  width: 100%;
}

.newsTitle {
  color: #000000;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Roboto';
}

.newsDescription {
  color: #000000;
  font-size: 10px;
  font-weight: 500;
  font-family: 'Roboto';
}
.btn1 {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-end;
}

.g {
  color: grey;
}

.p {
  color: #000000;
}
.a {
  text-decoration: none;
}
